# Canadian Space Agency Challenge -- RADI-N2

This is the file used to clean and organize the datasets from the Canadian Space Agency Challence regarding radiation.
The file `Radi-N2 -ISS data.csv` contains the information provided by the Canadian austronauts on the International Space Station(ISS). The data was collected for each 7th day mentioned in the interval.

The austronauts measured the neutron values on a 7-day period. They used a neutron dosimeter.

In [1]:
# import panda library
import pandas as pd

In [2]:
# read the file
df = pd.read_csv("Radi-N2 -ISS data.csv")

In [3]:
# Let's study how the data looks like
df.head(7)

,ROBERT THIRSK MISSION DATA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Start-Date(YYYY/MM/DD),End-Date(YYYY/MM/DD),Measurement-Duration(minutes),Detector-Number,Sensitivity(b/mrem)*,Bubble Count,Calculated-Exposure(mrem)
1,2009-09-06,2009-09-13,9872,A92 (1415),0.86,107,124
2,2009-10-03,2009-10-10,10793,A92 (1415),0.86,141,164
3,2009-11-09,2019-11-16,10069,A92 (1415),0.86,65,76
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,*Sensitivity calculation : Includes space cali...,NaN,NaN,NaN,NaN,NaN,NaN
6,It should be noted that the results from space...,NaN,NaN,NaN,NaN,NaN,NaN

The next file is provided by students across Canada who measured the neutron concentration in their schools.

In [4]:
studs = pd.read_csv("Radi-N2 -Schools project data.csv")
studs.head(7)

,Identifier,Collection Date,Number of bubbles,Bubble Detector ID,Sensitivity (b/mrem),Calculated Exposure (mrem),City,Province/Territory
0,8163f602-9db5-4c01-9045-d7d997315c82,2018-12-18T12:21:00.000-05:00,3,18051217,44,0.068000,London,Ontario
1,8163f602-9db5-4c01-9045-d7d997315c82,2019-01-16T12:46:00.000-05:00,0,18129251,41,0.000000,London,Ontario
2,1f129390-03f2-429b-abc6-66cfee9bf519,2019-01-16T14:16:00.000-04:00,1,18047344,47,0.021277,Florenceville-Bristol,New Brunswick
3,2e8106c0-d481-446b-bbbb-c32740eef411,2019-02-19T07:30:00.000-05:00,0,18051554,47,0.000000,Longueuil,Quebec
4,df5eceb7-3194-4e9a-86e0-b5e9f1ac8413,2019-02-19T07:30:00.000-05:00,0,18051554,47,0.000000,Longueuil,Quebec
5,6648c712-0630-4539-af6d-f59cd463ae54,2019-02-19T07:30:00.000-05:00,0,18051554,47,0.000000,Longueuil,Quebec
6,5f93d214-802f-415b-8551-862e28c19789,2019-01-16T14:00:00.000-08:00,1,18046220,53,0.018868,Salmon Arm,British Columbia

In [5]:
studs = studs[(studs.T != 0).all()]

In [6]:
studs.shape

(557, 8)

### How many identifiers per cities?

In [7]:
# group by City
count_ids = studs.groupby(['City']).count()
count_ids['Identifier']

City
Amqui                                      9
Belleville                                 8
Brampton                                   7
Bridgewater                               15
Calgary                                   18
Camrose                                    2
Channel-Port Aux Basques                   6
Chilliwack                                 5
Coquitlam                                  7
Dartmouth                                  1
Dartmouth N.-E.                            5
Deep River                                 5
Dryden                                     4
East Angus                                 9
Eganville                                  3
Embrun                                     1
Florenceville-Bristol                      5
Gloucester                                 1
Grand Falls-Windsor                        4
Grimsby                                    5
Guelph                                     2
Hamilton                                   3
Hanover                                    7
Headingley                                 3
Innisfail                                  5
Kelowna                                    3
Kleinburg                                  8
LaSalle                                    3
Lachine                                    2
Limoges                                    2
                                          ..
Ottawa                                    41
Ottawa (Cumberland)                        5
Petawawa                                   6
Port Dover                                12
Port Hardy                                42
Richmond Hill                              1
Saguenay                                   3
Saint-Jerome                               3
Sainte-Catherine-de-la-Jacques-Cartier     1
Sainte-Marie                               1
Salmon Arm                                14
Saskatoon                                  2
Sechelt                                   29
Sherbrooke                                 2
St-Felix-de-Valois                         8
St-Jean-sur-Richelieu                      5
St. Albert                                 7
Stonewall                                 37
Stouffville                               13
Strathroy                                 10
Terrace Bay                                6
Thornhill                                  2
Toronto                                    5
Trenton                                    6
Tsawwassen                                 1
Vancouver                                 21
Waterloo                                   9
Whitchurch-Stouffville                     9
Whitecourt                                 3
Winnipeg                                   4
Name: Identifier, Length: 69, dtype: int64

### What is the minimum and maximum bubbles count? What about calculated exposure?

In [8]:
studs.min()

Identifier                    009d1d48-27ab-4446-b20a-b67855ff8e8b
Collection Date                      2018-12-18T12:21:00.000-05:00
Number of bubbles                                                1
Bubble Detector ID                                         1805135
Sensitivity (b/mrem)                                            41
Calculated Exposure (mrem)                                  0.0149
City                                                         Amqui
Province/Territory                                         Alberta
dtype: object

In [9]:
studs.max()

Identifier                    fb1afc76-5b15-4ded-9e8f-d38213229c26
Collection Date                      2019-06-08T12:30:00.000-04:00
Number of bubbles                                               28
Bubble Detector ID                                        19051231
Sensitivity (b/mrem)                                            68
Calculated Exposure (mrem)                                0.666667
City                                                      Winnipeg
Province/Territory                                    Saskatchewan
dtype: object

- The minimum bubbles count is 1 and maximum is 28.
- The minimum exposure is 0.0149 mrem and maximum exposure is 0.666667 mrem.

### How many have identified 5 or less bubbles?

In [10]:
import numpy as np
# use np.where to identifier which indices have number of bubbles less than 5
np.where(studs['Number of bubbles']<5)

(array([  0,   1,   2,   3,   4,   5,   8,   9,  10,  11,  12,  13,  14,
         15,  16,  18,  19,  20,  22,  23,  24,  25,  26,  27,  28,  34,
         35,  36,  37,  39,  41,  43,  45,  47,  48,  49,  50,  51,  53,
         55,  56,  57,  58,  59,  60,  62,  63,  64,  65,  66,  67,  68,
         69,  70,  71,  72,  73,  74,  77,  78,  79,  80,  81,  82,  83,
         85,  86,  87,  88,  89,  91,  92,  93,  94,  96,  97,  98,  99,
        100, 101, 102, 103, 104, 105, 107, 108, 109, 110, 111, 112, 114,
        115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127,
        128, 129, 130, 131, 132, 133, 135, 141, 142, 145, 146, 147, 148,
        149, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163,
        164, 165, 166, 167, 168, 169, 170, 172, 177, 178, 179, 180, 181,
        182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
        195, 196, 197, 199, 202, 204, 205, 206, 207, 208, 209, 210, 211,
        212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 223, 224, 225,
        226, 227, 228, 229, 230, 232, 233, 234, 235, 236, 237, 238, 239,
        240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252,
        253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265,
        266, 267, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279,
        280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292,
        293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305,
        306, 307, 308, 309, 311, 312, 313, 314, 315, 316, 317, 318, 319,
        320, 322, 323, 324, 326, 327, 328, 329, 330, 331, 332, 333, 334,
        335, 336, 337, 338, 340, 341, 342, 343, 345, 346, 347, 348, 349,
        350, 352, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365,
        366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 377, 378, 384,
        385, 386, 387, 388, 389, 390, 392, 393, 394, 396, 397, 398, 399,
        400, 401, 404, 405, 406, 407, 408, 409, 410, 411, 412, 424, 425,
        426, 428, 429, 430, 432, 433, 435, 436, 437, 438, 439, 440, 441,
        442, 443, 444, 445, 450, 451, 452, 453, 454, 455, 457, 459, 461,
        464, 465, 467, 468, 470, 475, 480, 481, 482, 484, 485, 486, 489,
        494, 495, 496, 497, 498, 499, 500, 501, 502, 504, 505, 506, 507,
        508, 509, 510, 511, 512, 513, 514, 515, 517, 518, 519, 520, 521,
        522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534,
        535, 536, 537, 538, 539, 540, 541, 542, 544, 545, 546, 547, 548,
        549, 550], dtype=int64),)

There are about 444 schools that reported less than 5 bubbles. This is quite a huge drop in numbers.

## How many unique identifiers?

In [11]:
# How many identifiers 
iden = studs['Identifier'].unique()
len(iden)

105

Since there are only 105 unique identifiers, let's take a look at a random city and how were the collection dates for it. 

_Recall_: they were supposed to measure at 7-day intervals.

In [12]:
print(studs.loc[studs['City'] == 'Petawawa'])

                               Identifier                Collection Date  \
126  959484ae-c895-403a-83df-59404e44b9f6  2019-02-21T07:52:00.000-05:00
157  959484ae-c895-403a-83df-59404e44b9f6  2019-02-22T08:25:00.000-05:00
402  959484ae-c895-403a-83df-59404e44b9f6  2019-03-19T09:00:00.000-04:00
403  959484ae-c895-403a-83df-59404e44b9f6  2019-03-20T09:30:00.000-04:00
404  959484ae-c895-403a-83df-59404e44b9f6  2019-03-21T09:16:00.000-04:00
415  959484ae-c895-403a-83df-59404e44b9f6  2019-03-22T10:04:00.000-04:00

     Number of bubbles  Bubble Detector ID  Sensitivity (b/mrem)  \
126                  1            17170336                    56
157                  1            17170336                    56
402                  1            17170336                    56
403                  2            17170336                    56
404                  2            17170336                    56
415                  1            17170336                    56

     Calculated Exposure (mrem)      City Province/Territory
126                    0.017857  Petawawa            Ontario
157                    0.017857  Petawawa            Ontario
402                    0.017857  Petawawa            Ontario
403                    0.035714  Petawawa            Ontario
404                    0.035714  Petawawa            Ontario
415                    0.017860  Petawawa            Ontario

In [13]:
# find the cities that have a 7 day range. Plot some of them. with unique identifiers
studs.columns

Index(['Identifier', 'Collection Date', 'Number of bubbles',
       'Bubble Detector ID', 'Sensitivity (b/mrem)',
       'Calculated Exposure (mrem)', 'City', 'Province/Territory'],
      dtype='object')

### What locations identified more than 5 bubbles?

In [14]:
# see the collection dates
# studs['Collection Date']

grouped_df = studs.groupby(['City','Identifier']).mean()

np.where(grouped_df['Number of bubbles']>5)

(array([11, 17, 25, 41, 45, 50, 54, 58, 73, 83, 85, 91, 94, 98],
       dtype=int64),)

We got 14 locations where they got more than 5 bubbles. So average for them will be much higher than the rest of Canada. 
Are those locations close to one another? Or are they just human error?

In [15]:
aprox_values = round(grouped_df['Number of bubbles'])
aprox_values

City                                    Identifier
Amqui                                   67837e41-158f-4f50-b569-b342e84d1233     2.0
Belleville                              89d487a5-bd45-45b6-8118-13953c307150     1.0
Brampton                                6c107aaf-de6a-404a-9864-a8a708a852e4     2.0
                                        af8ce2f7-8567-4534-bbf7-7b2892b535e0     2.0
Bridgewater                             02af2a79-c8f7-4353-9163-8755a007df08     3.0
                                        0b35e95b-f234-4bdd-b0b0-4048847dfe28     2.0
Calgary                                 7cda7462-6d8d-439c-b482-5bd6d768352a     3.0
                                        807d5dcd-3485-4f3c-87e4-ae51dd391dd6     3.0
                                        a80a5290-4bab-4317-a175-4d0a017ac54c     3.0
Camrose                                 009d1d48-27ab-4446-b20a-b67855ff8e8b     1.0
                                        f454b9ad-9cbb-4817-a4c5-b0eddced5bd3     1.0
Channel-Port Aux Basques                63579a04-e81b-4dfe-93e7-8d1ce3131de4     6.0
Chilliwack                              1d00beaf-16c0-43ea-88c5-34e773c1392d     2.0
Coquitlam                               e252569c-3a8f-4ee0-850b-34aa38011db4     2.0
Dartmouth                               bf78c43c-bf1d-42e7-b53c-6253a80a34b3     3.0
Dartmouth N.-E.                         bf78c43c-bf1d-42e7-b53c-6253a80a34b3     2.0
Deep River                              849d5554-9ed3-40da-8365-83c8a0c93a0f     3.0
Dryden                                  bab46cbd-34c0-4420-b1dc-5e6d035164d4     6.0
East Angus                              4ea0356b-8ca6-4493-912a-866f9ff95eeb     2.0
                                        56389f81-1962-4add-9138-c292f7e5a132     1.0
                                        6fc011b2-4310-4244-bd9a-c3e4aef54e64     1.0
                                        ba7cbb6f-bc3d-43f6-bdff-de28e8c058c0     2.0
                                        c6d6037c-545f-4201-8eaa-5dd518480bd1     1.0
                                        d76ddb9e-b3e7-4616-b4ed-0b91f5062469     1.0
Eganville                               c7ac3b2b-09d0-445f-809f-408a1c8456d4     1.0
Embrun                                  0c5c5e8f-eeb7-4ba3-ba09-2e3a62b152bb    15.0
Florenceville-Bristol                   1f129390-03f2-429b-abc6-66cfee9bf519     3.0
Gloucester                              9fb3bbf0-a43a-40b0-9c90-b60fcd63ce51     3.0
Grand Falls-Windsor                     5e6065eb-1c77-43d9-8a9b-330542ec6361     4.0
Grimsby                                 99b2bc9a-81a8-40d1-af3c-2c7fd27dae2c     2.0
                                                                                ...
Saint-Jerome                            81cbc647-8732-4a8c-95d0-f536ac37c626     1.0
                                        ec82772c-98ac-491c-9320-2af5a1565170     1.0
Sainte-Catherine-de-la-Jacques-Cartier  715c3737-b434-4cf3-9da8-4b3f54ff054c     1.0
Sainte-Marie                            9519ed75-8806-4bad-a906-40e6bfc93cc7     6.0
Salmon Arm                              5f93d214-802f-415b-8551-862e28c19789     2.0
Saskatoon                               e88d4cff-021d-4b4d-bdef-f05783598825    16.0
Sechelt                                 b0d40d82-757c-46da-af44-e9306f2a3aea     2.0
                                        d4f925c1-44d8-4209-902f-df2f6d9b6f50     2.0
                                        d5f82152-5e9b-4112-86a0-4471b05b6f82     3.0
                                        dad2387a-e40a-4a22-8ac7-1ff0c893d2da     3.0
Sherbrooke                              ba7cbb6f-bc3d-43f6-bdff-de28e8c058c0     1.0
St-Felix-de-Valois                      faf2b946-8817-4d71-a1f1-2e9b5075b303    10.0
St-Jean-sur-Richelieu                   6b3c9938-f2bd-4319-bc2b-536731c81389     3.0
St. Albert                              bca40704-6796-4e2a-a5a2-62493aad6374     1.0
Stonewall                               0a341b7f-3663-4a85-896a-de92001479e0     6.0
Stouffville                             27483cd4-ea09-420f-83b2-09f75f2e02e9     2.0
Strathroy                               024f89b4-ea85-48e7-b2ee-8f4f752ddbe9     2.0
Terrace Bay                             92f09f90-a005-4db9-9e3d-5fa148ac56a5     2.0
Thornhill                               1efe5190-e5c9-4af5-b01b-c4f26b18483b     8.0
Toronto                                 98cd0b54-8529-4545-a732-795e531f2f1c     3.0
                                        f67c875d-efc7-462a-9c19-6cbb18774fe9     3.0
Trenton                                 d9e458d6-b7ce-4bf1-8ba3-62958a948c59     2.0
Tsawwassen                              9dde2b0e-a95b-4421-9c49-bca65602dc63     1.0
Vancouver                               c10907a9-2918-4e39-98d1-6d8dcee629c0     2.0
                                        e053901a-f834-44f5-93d0-e2b88c9b7cdc     1.0
Waterloo                                0543fb07-06e0-4eca-8cb4-771e4745e8be     4.0
                                        0c57809b-4876-4fdd-a535-974a827e7dab     2.0
Whitchurch-Stouffville                  add8d275-7362-47d2-8a9e-3d9f2d310bab     2.0
Whitecourt                              51d30129-a05c-4cf8-bc1e-4410c6257e0c     2.0
Winnipeg                                70aa09eb-f08d-4946-b502-3c623c9c6b2b     1.0
Name: Number of bubbles, Length: 110, dtype: float64

##  GOAL: Find identifiers that do not have 7 days and normalize

# 1. Organize by identifier and collection date
Organize them by identifier and collection date.

In [16]:
# sort the days for each identifier
studs_sorted_df = studs.sort_values(['Identifier','Collection Date'], ascending = [True,True])
studs_sorted_df.head(5)

,Identifier,Collection Date,Number of bubbles,Bubble Detector ID,Sensitivity (b/mrem),Calculated Exposure (mrem),City,Province/Territory
58,009d1d48-27ab-4446-b20a-b67855ff8e8b,2019-01-30T08:52:00.000-07:00,1,17170223,47,0.021277,Camrose,Alberta
45,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-22T11:00:00.000-05:00,4,18129115,49,0.081633,Port Dover,Ontario
46,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-23T11:00:00.000-05:00,5,18129115,49,0.102041,Port Dover,Ontario
47,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-23T11:00:00.000-05:00,4,18129115,49,0.081633,Port Dover,Ontario
48,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-24T11:00:00.000-05:00,6,18129115,49,0.122449,Port Dover,Ontario

# 2. Clean the datetime
Remove the characters at the end of date (minutes, timezone).
_NOTE_: Do not run the cell bellow TWICE as it will keep on erasing the end.

In [17]:
# Strip the random endings and leave only the dates alone. No minutes, timezone, etc.

studs_sorted_df['Collection Date']= studs_sorted_df['Collection Date'].str[:-19]
studs_sorted_df.head(5)
# DO NO RERUN THIS CELL

,Identifier,Collection Date,Number of bubbles,Bubble Detector ID,Sensitivity (b/mrem),Calculated Exposure (mrem),City,Province/Territory
58,009d1d48-27ab-4446-b20a-b67855ff8e8b,2019-01-30,1,17170223,47,0.021277,Camrose,Alberta
45,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-22,4,18129115,49,0.081633,Port Dover,Ontario
46,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-23,5,18129115,49,0.102041,Port Dover,Ontario
47,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-23,4,18129115,49,0.081633,Port Dover,Ontario
48,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-24,6,18129115,49,0.122449,Port Dover,Ontario

### Remove unique identifiers
We want to work with data that has been collected at least twice. Otherwise, it is impossible to predict what a 7th day collection would have looked like.

In [18]:
# remove single identifiers
studs_sorted_df.groupby(['Identifier','Collection Date']).filter(lambda x: len(x)>1).shape

(44, 8)

# 3. Reset Index

In [19]:
#check column names
studs_sorted_df.columns

Index(['Identifier', 'Collection Date', 'Number of bubbles',
       'Bubble Detector ID', 'Sensitivity (b/mrem)',
       'Calculated Exposure (mrem)', 'City', 'Province/Territory'],
      dtype='object')

In [20]:
# reset index
studs_sorted_df = studs_sorted_df.reset_index()

In [21]:
studs_sorted_df.drop(columns = 'index').head(5)

,Identifier,Collection Date,Number of bubbles,Bubble Detector ID,Sensitivity (b/mrem),Calculated Exposure (mrem),City,Province/Territory
0,009d1d48-27ab-4446-b20a-b67855ff8e8b,2019-01-30,1,17170223,47,0.021277,Camrose,Alberta
1,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-22,4,18129115,49,0.081633,Port Dover,Ontario
2,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-23,5,18129115,49,0.102041,Port Dover,Ontario
3,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-23,4,18129115,49,0.081633,Port Dover,Ontario
4,02127c7f-69ce-41ee-ae58-402c405b5e49,2019-01-24,6,18129115,49,0.122449,Port Dover,Ontario

# 4. Save the file externally.

In [22]:
studs_sorted_df.to_csv("students_clean.csv", sep = ',')

Note: The file students_clean got modified into `radiation.csv` by a teammember. The following files can be found in the folder `data` on my Github [here.](https://github.com/rominacarabathampi/CanadianSpaceAppChallenge/tree/master/data)

# 5. Merge file with Radiation data

In [23]:
import pandas as pd
# read radiation file
df = pd.read_csv('radiation.csv')

In [24]:
#check column names
df.columns

Index(['Identifier', 'Collection Date', 'Number of bubbles',
       'Bubble Detector ID', 'Sensitivity (b/mrem)',
       'Calculated Exposure (mrem)', 'City', 'Province/Territory',
       'Unnamed: 8', 'Calculated Exposure Day 7'],
      dtype='object')

### Remove all zeros from the data.

In [25]:
# remove al rows that have values of zeros
df = df[(df.T != 0).all()]

### Change the dataframe to contain only columns of interest.

In [26]:
# select columns Identifier, City, Province/Territory, Calculated Exposure Day 7
df = df.loc[:, ['Identifier','City','Province/Territory','Calculated Exposure Day 7']]

In [27]:
# check columns names after change
df.columns

Index(['Identifier', 'City', 'Province/Territory',
       'Calculated Exposure Day 7'],
      dtype='object')

### Remove NaNs

In [28]:
# Remove all NaNs from the data
df = df.dropna()

### Change Nouvelle-?cosse to Nova Scotia

In [29]:
# Replace Nouvelle-?cosse to Nova Scotia
df.loc[(df['Province/Territory'] == 'Nouvelle-?cosse'),'Province/Territory'] ='Nova Scotia'

In [30]:
# see the dimension of the file

In [31]:
df.shape

(109, 4)

## 6. Read the research file on radiation 
And merge them on cities. This will help comparison of neutron radiation to be compared to all other radiation sources per city.

In [32]:
research = pd.read_csv('City-wise Radiation Information - Feuille 1.csv')
research.head(10)

,City,Radon(mrem),External Terrestrial (mrem),Cosmic (mrem),Ingestion (mrem)
0,Dartmouth,62.900,33.3,32.5,30.6
1,Limoges,62.900,24.0,35.0,30.6
2,Whitchurch-Stouffville,188.700,17.8,35.0,30.6
3,Sainte-Catherine-de-la-Jacques-Cartier,188.700,21.9,37.5,30.6
4,Newmarket,1.887,17.8,35.0,30.6
5,St-Felix-de-Valois,62.900,27.8,37.5,30.6
6,Stouffville,188.700,17.8,35.0,30.6
7,St-Jean-sur-Richelieu,314.500,27.8,37.5,30.6
8,Oakville,188.700,17.8,35.0,30.6
9,Saskatoon,314.500,33.3,42.5,30.6

In [33]:
# merge on City
merged = pd.merge(df, research, on=['City'])

In [34]:
# dimensions of merged file
merged.shape

(105, 8)

In [35]:
# column names
merged.columns

Index(['Identifier', 'City', 'Province/Territory', 'Calculated Exposure Day 7',
       'Radon(mrem)', 'External Terrestrial (mrem)', 'Cosmic (mrem)',
       'Ingestion (mrem)'],
      dtype='object')

# 7. Save file externally.

Save the final file externally.

In [36]:
merged.to_csv('merged_files.csv')